@model Image

@{ 
    Layout = "_Layout";
}

<form method="post" asp-action="Create">

    <div class="form-group">
        <label asp-for="Name"></label>
        <input type="text" class="form-control" asp-for="Name" />
    </div>

    <div class="form-group">
        <label asp-for="Path"></label>
        <input type="text" class="form-control" asp-for="Path" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>