@model List<Image>

@{ 
    Layout = "_Layout";
    ViewBag.Title = "Index";
    ViewBag.HeaderTitle = "Images";
}



@if(Model.Count == 0)
{
    <p>There is not images to show</p>
}
    
@foreach(var item in Model)
{
    <p>@item.Name</p>
    <img src="@item.Path" />
    <p>@item.Description</p>
}



