<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header class="row justify-content-between mt-3">
            <div class="col-12 col-sm-12 col-md-3">
                <h2 class="">Exquisite Images</h2>
            </div>

            <div class="col-4">
                <div class="row justify-content-end">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-action="Profile" asp-controller="Account" class="col-11 col-sm-6 col-md-4 btn btn-primary loco">Profile</a>
                        <a asp-action="Logout" asp-controller="Account" class="col-11 col-sm-5 col-md-4 btn btn-info ml-1">Log out</a>
                    } else
                    {
                        <a asp-action="Login" asp-controller="Account" class="col-11 col-sm-11 col-md-4 btn btn-primary">Log In</a>
                    }
                </div> 
            </div>

        </header>
            <hr />
        <h3 class="mt-3">@ViewBag.HeaderTitle</h3>
        <hr class="w-25 ml-0" />
        @RenderBody()
    </div>
</body>
</html>
