@model LoginModel

@{ 
    Layout = "_Layout";
    ViewBag.Title = "Log In";
    ViewBag.HeaderTitle = "Log In";
}

<div class="row">

<form method="post" class="col-8">
    <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
    </div>

    <button asp-action="Login" type="submit" class="btn btn-outline-primary col-sm-12 col-md-2">Log in</button>
    <a asp-action="Register" asp-controller="Admin" class="btn btn-outline-secondary col-sm-12 col-md-3">Create an User</a>
    <a asp-action="Index" asp-controller="Home" class="btn btn-outline-danger col-sm-12 col-md-2">Cancel</a>
</form>

</div>